In [535]:
# Import the required libraries and dependencies
import pandas as pd
import hvplot.pandas
from pathlib import Path

# Climate Change Analysis

### Import Data

In [536]:
# Using the read_csv function and Path module, create a DataFrame 
# by importing the GlobalLandTemperatureByCountry.csv, GlobalLandTemperatureByMajorCity.csv and GlobalTemperature.csv file from the Resources folder
temperature_by_country_df = pd.read_csv(Path("./Resources/GlobalLandTemperaturesByCountry.csv"))
temperature_by_major_city_df = pd.read_csv(Path("./Resources/GlobalLandTemperaturesByMajorCity.csv"))
global_temperature_df = pd.read_csv(Path("./Resources/GlobalTemperatures.csv"))
commodity_prices_df = pd.read_csv(Path("./Resources/GlobalTemperatures.csv"))

In [537]:
# Review the first and last five rows of the temperature_by_country_df DataFrame
display(temperature_by_country_df.head())
display(temperature_by_country_df.tail())

           dt  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294   Åland
1  1743-12-01                 NaN                            NaN   Åland
2  1744-01-01                 NaN                            NaN   Åland
3  1744-02-01                 NaN                            NaN   Åland
4  1744-03-01                 NaN                            NaN   Åland

,dt,AverageTemperature,AverageTemperatureUncertainty,Country
577457,2013-05-01,19.059,1.022,Zimbabwe
577458,2013-06-01,17.613,0.473,Zimbabwe
577459,2013-07-01,17.000,0.453,Zimbabwe
577460,2013-08-01,19.759,0.717,Zimbabwe
577461,2013-09-01,NaN,NaN,Zimbabwe

In [538]:
# Review the first and last five rows of the temperature_by_major_city_df DataFrame
display(temperature_by_major_city_df.head())
display(temperature_by_major_city_df.tail())

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1849-01-01,26.704,1.435,Abidjan,Côte D'Ivoire,5.63N,3.23W
1,1849-02-01,27.434,1.362,Abidjan,Côte D'Ivoire,5.63N,3.23W
2,1849-03-01,28.101,1.612,Abidjan,Côte D'Ivoire,5.63N,3.23W
3,1849-04-01,26.140,1.387,Abidjan,Côte D'Ivoire,5.63N,3.23W
4,1849-05-01,25.427,1.200,Abidjan,Côte D'Ivoire,5.63N,3.23W

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
239172,2013-05-01,18.979,0.807,Xian,China,34.56N,108.97E
239173,2013-06-01,23.522,0.647,Xian,China,34.56N,108.97E
239174,2013-07-01,25.251,1.042,Xian,China,34.56N,108.97E
239175,2013-08-01,24.528,0.840,Xian,China,34.56N,108.97E
239176,2013-09-01,NaN,NaN,Xian,China,34.56N,108.97E

In [539]:
# Review the first and last five rows of the global_temperature_df DataFrame
display(global_temperature_df.head())
display(global_temperature_df.tail())

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1,1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
3187,2015-08-01,14.755,0.072,20.699,0.110,9.005,0.170,17.589,0.057
3188,2015-09-01,12.999,0.079,18.845,0.088,7.199,0.229,17.049,0.058
3189,2015-10-01,10.801,0.102,16.450,0.059,5.232,0.115,16.290,0.062
3190,2015-11-01,7.433,0.119,12.892,0.093,2.157,0.106,15.252,0.063
3191,2015-12-01,5.518,0.100,10.725,0.154,0.287,0.099,14.774,0.062

### Clean Data

In [540]:
# Format dt column as Datetime data format
global_temperature_df['time'] = pd.to_datetime(global_temperature_df['dt'], infer_datetime_format=True)

# Set time as index 
global_temperature_df = global_temperature_df.set_index('time')

In [541]:
# Drop unnecessary columns
global_temperature_df = global_temperature_df['LandAndOceanAverageTemperature'].dropna()

# Rename DataFrame columns so units show correctly in hvplot
global_temperature_df = pd.DataFrame({'temperature':global_temperature_df})

In [542]:
# Review the first 5 and last 5 rows the DataFrame
display(global_temperature_df.head())
display(global_temperature_df.tail())

            temperature
time
1850-01-01       12.833
1850-02-01       13.588
1850-03-01       14.043
1850-04-01       14.667
1850-05-01       15.507

            temperature
time
2015-08-01       17.589
2015-09-01       17.049
2015-10-01       16.290
2015-11-01       15.252
2015-12-01       14.774

### Analyze Data

In [543]:
# Plot Land and Ocean Daily Averages to get a visualization of the raw data.
global_temperature_df.hvplot(title = "Land and Ocean Daily Average Temperatures (1850 - 2016)",
                            xlabel = "Date",
                            ylabel = "Temperature (Celsius)")

:Curve   [time]   (temperature)

As seen from the following screenshot, seasons have more variation than the overall trend of land temperature.  Due to this, we will look at the mean average temperature per year, and use this information to evaluate overall trends. 

![A screenshot depicting the impact of seasons on overall trend analysis.](./Images/land_average_temp_no_average.PNG)

In [544]:
# Average values by year to acommodate for seasonal changes get mean yearly temperatures
global_temperature_year_df = global_temperature_df.resample('A').mean()

# Review the first 5 and last 5 rows of DataFrame
display(global_temperature_year_df.head())
display(global_temperature_year_df.tail())

            temperature
time
1850-12-31    14.867167
1851-12-31    14.991833
1852-12-31    15.006500
1853-12-31    14.955167
1854-12-31    14.991000

            temperature
time
2011-12-31    15.769500
2012-12-31    15.802333
2013-12-31    15.854417
2014-12-31    15.913000
2015-12-31    16.058583

In [545]:
# Review the length the DataFrame which corresponds to the number of years analyzed. 
print(f"The length of the land_global_temperature_year is {len(global_temperature_year_df.index)}.")

The length of the land_global_temperature_year is 166.

In [546]:
# Plot Land and Ocean Daily Averages to get a visualization of the raw data.
global_temperature_year_df.hvplot(title = "Land and Ocean Yearly Average Temperatures (1850 - 2016)",
                            xlabel = "Date",
                            ylabel = "Temperature (Celsius)")

:Curve   [time]   (temperature)

After further research into climate analysis, it was discovered that climate is not typically analyzed in average absolute values, but rather in what is know as "temperature anomalies".  A temperature anomoly is measured by the distance that a temperature deviates from the "normal average temperature".  The "normal average temperature" is the mean value of a temperature range that spans over atleast a 30 year period.  This distance from mean can be normalized to the standard deviation which is know as "Standardized Anomolies".  Standardized anomolies will be how we will analyze trends for our data.   

Different organizations use different normal average temperature timeframes; for example the World Meteorological Organization (WMO) uses 1918-2010, NASA uses 1951-1980 and NOAA uses data spanning over the entire 20th century.

For the sake of this analysis, we will use the same timeframe as NOAA (1900-01-01 to 2000-01-01) for our normal average temperature reference.

In [547]:
# Extract the 20th century from the global_temperature_year_df to use as reference.  
normal_average_temperature = global_temperature_year_df.loc['1900-01-01':'2000-01-01']

# Review the first 5 and last 5 rows of DataFrame
display(normal_average_temperature.head())
display(normal_average_temperature.tail())

            temperature
time
1900-12-31    15.143917
1901-12-31    15.073333
1902-12-31    14.958333
1903-12-31    14.836583
1904-12-31    14.810417

            temperature
time
1995-12-31    15.637833
1996-12-31    15.524667
1997-12-31    15.713833
1998-12-31    15.826000
1999-12-31    15.600333

In [548]:
# Find the mean value and standard deviation of the normal_average_temperature DataFrame
mean = normal_average_temperature.mean()
std_dev = normal_average_temperature.std()

# Review the mean value and standard deviation
print("The mean value of the normal_average_temperature DataFrame is:")
print(f"{mean}")
print("\n")
print(f"The standard devation of the normal_average_temperature DataFrame is:")
print(f"{std_dev}")

The mean value of the normal_average_temperature DataFrame is:
temperature    15.236225
dtype: float64


The standard devation of the normal_average_temperature DataFrame is:
temperature    0.223864
dtype: float64

In [549]:
# Create a new DataFrame containing standardized anomolies normalized to the normal_average_temperature DataFrame.  
climate_standardized_anomoly = (global_temperature_year_df - mean)/std_dev

# Rename column in df
climate_standardized_anomoly = climate_standardized_anomoly.rename(columns={'temperature':'standardized_anomoly'})

# Review the first 5 and last 5 rows of DataFrame
display(climate_standardized_anomoly.head())
display(climate_standardized_anomoly.tail())

            standardized_anomoly
time
1850-12-31             -1.648582
1851-12-31             -1.091697
1852-12-31             -1.026181
1853-12-31             -1.255487
1854-12-31             -1.095419

            standardized_anomoly
time
2011-12-31              2.382138
2012-12-31              2.528804
2013-12-31              2.761460
2014-12-31              3.023152
2015-12-31              3.673472

In [550]:
# Plot Land and Ocean Standardized Anomolies to get a visualization of the normalized data.
climate_standardized_anomoly_plot = climate_standardized_anomoly.hvplot(title = "Land and Ocean Standardized Temperature Anomolies (1850 - 2016)",
                                                                xlabel = "Date",
                                                                ylabel = "Standardized Anomolies")

climate_standardized_anomoly_plot

:Curve   [time]   (standardized_anomoly)

As seen for the temperature analysis, there is a warming trend occuring that began to increase slightly around 1920 and then the trend of warming significantly increased around 1980.  The following imaget shows the generaly trend of warming in units of "Standard Devation": 

![A screenshot depicting the warming trend of earth in units of "Standard Devation".](./Images/standardized_temperature_anomolies.PNG)

When comparing this to a standard "Normal Distribution" curve, we can determine that this warming trend is very substantial and does not follow the rules of normal distribution probability.  For example, beginning in 2014 the temperature anomolies began to deviate by more than 3 standard devation units from the normal average temperature mean.  A normal distribution curve indicates that the "odds" of this ocurring are less than 0.1% and by the way the devations have been trending since 1980, it does not look like this warming trend will be slowing down.  

The following "Normal Distribution" curve is provided for context of this analyis.  It was obtained from Investopia and created by Julie Bang: 

![investopia_normal_distribution_curve](./Images/bell_curve.PNG)

This warming trend phenomenon not only has an impact on the temperature but also can cause great economic costs in the form of disaster, disease and agrictulture.  

In the following sections of this report, we will evaluate more in depth the occurrences of natural disasters (specifically extreme weather conditions in the United States) and whether or not the frequency of these events have increased similarly to the climate temperature.  

We will also evalute more in depth the overall trends in agriculture (specifically analyzing commoditie market pricing).  We want to analyze how specific commodities and their prices react to the general warming trends of the climate as well as taking into consideration the effects that extreme weather conditions may have on these products.  

At the end of this report, we will provide analysis on which commodities have faired the best through the warming trends of the last decade and what commodites may be a potential smart investment moving forward.

# Natural Disasters in the United States Analysis

### Import Data

In [551]:
# Using the read_csv function and Path module, create a DataFrame 
# by importing the us_disaster_declarations.csv and us_disasters_m5.csv file from the Resources folder
us_disasters_df = pd.read_csv(Path("./Resources/us_disaster_declarations.csv"))
us_disasters_m5_df = pd.read_csv(Path("./Resources/us_disasters_m5.csv"))

In [552]:
# Review the first and last five rows of the us_disaster_df DataFrame
display(us_disasters_df.head())
display(us_disasters_df.tail())

,fema_declaration_string,disaster_number,state,declaration_type,declaration_date,fy_declared,incident_type,declaration_title,ih_program_declared,ia_program_declared,...,incident_begin_date,incident_end_date,disaster_closeout_date,fips,place_code,designated_area,declaration_request_number,hash,last_refresh,id
0,DR-1-GA,1,GA,DR,1953-05-02T00:00:00Z,1953,Tornado,Tornado,0,1,...,1953-05-02T00:00:00Z,1953-05-02T00:00:00Z,1954-06-01T00:00:00Z,13000,0,Statewide,53013,bb121323c9c29d3bef0c9a3f134bfd8b5ecff148,2021-07-13T23:01:19Z,60c3b7a9a0ee349d71025780
1,DR-2-TX,2,TX,DR,1953-05-15T00:00:00Z,1953,Tornado,Tornado & Heavy Rainfall,0,1,...,1953-05-15T00:00:00Z,1953-05-15T00:00:00Z,1958-01-01T00:00:00Z,48000,0,Statewide,53003,c879557e78d059e6847e7688388c339d10f51979,2021-07-13T23:01:19Z,60c3b7a9a0ee349d71025783
2,DR-3-LA,3,LA,DR,1953-05-29T00:00:00Z,1953,Flood,Flood,0,1,...,1953-05-29T00:00:00Z,1953-05-29T00:00:00Z,1960-02-01T00:00:00Z,22000,0,Statewide,53005,4fb19699fdbba1387ffa2263fcc4a4e37a1de6d6,2021-07-13T23:01:19Z,60c3b7a9a0ee349d71025777
3,DR-4-MI,4,MI,DR,1953-06-02T00:00:00Z,1953,Tornado,Tornado,0,1,...,1953-06-02T00:00:00Z,1953-06-02T00:00:00Z,1956-02-01T00:00:00Z,26000,0,Statewide,53004,87a0c1dd5da249767f545e0c0a43f917e4e9ca83,2021-07-13T23:01:19Z,60c3b7a9a0ee349d7102577a
4,DR-5-MT,5,MT,DR,1953-06-06T00:00:00Z,1953,Flood,Floods,0,1,...,1953-06-06T00:00:00Z,1953-06-06T00:00:00Z,1955-12-01T00:00:00Z,30000,0,Statewide,53006,954449c15634fb45c8bea3ac975782793ccde050,2021-07-13T23:01:19Z,60c3b7a9a0ee349d71025774

,fema_declaration_string,disaster_number,state,declaration_type,declaration_date,fy_declared,incident_type,declaration_title,ih_program_declared,ia_program_declared,...,incident_begin_date,incident_end_date,disaster_closeout_date,fips,place_code,designated_area,declaration_request_number,hash,last_refresh,id
62592,EM-3574-LA,3574,LA,EM,2021-09-13T22:22:00Z,2021,Coastal Storm,Tropical Storm Nicholas,0,0,...,2021-09-12T12:00:00Z,NaN,NaN,22121,99121,West Baton Rouge (Parish),21101,d8dbe3f740b91ac17b35e49bc71fe22940905f62,2021-09-14T03:02:03Z,614010ab434e34d5ee03378a
62593,EM-3574-LA,3574,LA,EM,2021-09-13T22:22:00Z,2021,Coastal Storm,Tropical Storm Nicholas,0,0,...,2021-09-12T12:00:00Z,NaN,NaN,22125,99125,West Feliciana (Parish),21101,2b408677246d38fa2e20fc687a5b1fa1fb3bb324,2021-09-14T03:02:03Z,614010ab434e34d5ee03378d
62594,EM-3574-LA,3574,LA,EM,2021-09-13T22:22:00Z,2021,Coastal Storm,Tropical Storm Nicholas,0,0,...,2021-09-12T12:00:00Z,NaN,NaN,22123,99123,West Carroll (Parish),21101,6ca2c413f659d8f114e82d2bd8df07148fd4ef73,2021-09-14T03:02:03Z,614010ab434e34d5ee033790
62595,EM-3574-LA,3574,LA,EM,2021-09-13T22:22:00Z,2021,Coastal Storm,Tropical Storm Nicholas,0,0,...,2021-09-12T12:00:00Z,NaN,NaN,22127,99127,Winn (Parish),21101,b88598fa1adce7778c2fb295668281ea28920f5b,2021-09-14T03:02:03Z,614010ab434e34d5ee033794
62596,FM-5417-CA,5417,CA,FM,2021-09-23T21:00:00Z,2021,Fire,Fawn Fire,0,0,...,2021-09-23T18:00:00Z,NaN,NaN,6089,99089,Shasta (County),21107,486144c2913fbc43a15482ee7672b162d50f2715,2021-09-25T02:03:32Z,614e8374b7c535bbb1907259

In [553]:
# Review the first and last five rows of the us_disasters_m5_df DataFrame
display(us_disasters_m5_df.head())
display(us_disasters_m5_df.tail())

,disaster_number,state,declaration_type,declaration_date,incident_type,declaration_title,ih_program_declared,ia_program_declared,pa_program_declared,hm_program_declared,incident_begin_date,incident_end_date,fips,designated_area
0,2862,TX,FM,2011-02-28T03:12:00Z,Fire,Willow Creek South Fire Complex,0,0,1,0,2011-02-27T05:00:00Z,NaN,48375,Potter (County)
1,2863,TX,FM,2011-02-28T03:25:00Z,Fire,Matador Fire,0,0,1,0,2011-02-27T05:00:00Z,NaN,48345,Motley (County)
2,2864,TX,FM,2011-02-28T03:37:00Z,Fire,Tanglewood Fire Complex,0,0,1,0,2011-02-27T05:00:00Z,NaN,48381,Randall (County)
3,2865,TX,FM,2011-02-28T05:55:00Z,Fire,Mitchell Fire Complex,0,0,1,0,2011-02-27T05:00:00Z,NaN,48335,Mitchell (County)
4,2867,TX,FM,2011-03-12T00:32:00Z,Fire,Enmin Fire,0,0,1,0,2011-03-11T05:00:00Z,2011-03-17T04:00:00Z,48237,Jack (County)

,disaster_number,state,declaration_type,declaration_date,incident_type,declaration_title,ih_program_declared,ia_program_declared,pa_program_declared,hm_program_declared,incident_begin_date,incident_end_date,fips,designated_area
622,4272,TX,DR,2016-06-11T17:23:00Z,Flood,Severe Storms And Flooding,0,0,1,0,2016-05-22T04:00:00Z,2016-06-25T03:59:00Z,48447,Throckmorton (County)
623,4272,TX,DR,2016-06-11T17:23:00Z,Flood,Severe Storms And Flooding,0,0,1,1,2016-05-22T04:00:00Z,2016-06-25T03:59:00Z,48191,Hall (County)
624,4272,TX,DR,2016-06-11T17:23:00Z,Flood,Severe Storms And Flooding,0,0,1,1,2016-05-22T04:00:00Z,2016-06-25T03:59:00Z,48289,Leon (County)
625,4272,TX,DR,2016-06-11T17:23:00Z,Flood,Severe Storms And Flooding,1,0,1,1,2016-05-22T04:00:00Z,2016-06-25T03:59:00Z,48021,Bastrop (County)
626,4272,TX,DR,2016-06-11T17:23:00Z,Flood,Severe Storms And Flooding,1,0,1,1,2016-05-22T04:00:00Z,2016-06-25T03:59:00Z,48039,Brazoria (County)

After reviewing the two imported datasets, we will focus on us_disasters_df.

### Clean Data

In [554]:
us_disasters_df = us_disasters_df.drop(columns = ['fema_declaration_string', 'ih_program_declared', 'ia_program_declared', 'declaration_title', 'pa_program_declared', 'hm_program_declared',
                                                 'incident_begin_date', 'incident_end_date', 'disaster_closeout_date', 'fips', 'place_code', 'hash', 'last_refresh', 'id', 'designated_area', 'declaration_type',
                                                 'fy_declared', 'declaration_request_number'])

In [555]:
us_disasters_df.head()

   disaster_number state      declaration_date incident_type
0                1    GA  1953-05-02T00:00:00Z       Tornado
1                2    TX  1953-05-15T00:00:00Z       Tornado
2                3    LA  1953-05-29T00:00:00Z         Flood
3                4    MI  1953-06-02T00:00:00Z       Tornado
4                5    MT  1953-06-06T00:00:00Z         Flood

In [556]:
# Format declaration_date column as Datetime data format
us_disasters_df['date'] = pd.to_datetime(us_disasters_df['declaration_date'], infer_datetime_format=True)

# Format date to be year only
us_disasters_df['date'] = us_disasters_df['date'].dt.year

In [557]:
# Set time as index 
us_disasters_df = us_disasters_df.set_index('date')

In [558]:
# Drop unnecessary rows
us_disasters_df = us_disasters_df.dropna()
us_disasters_df = us_disasters_df.drop(columns = ['declaration_date'])

# Drop duplicate rows
us_disasters_df = us_disasters_df.drop_duplicates()

In [559]:
# Review the first 5 and last 5 rows the DataFrame
display(us_disasters_df.head())
display(us_disasters_df.tail())

      disaster_number state incident_type
date
1953                1    GA       Tornado
1953                2    TX       Tornado
1953                3    LA         Flood
1953                4    MI       Tornado
1953                5    MT         Flood

      disaster_number state  incident_type
date
2021             4618    PA      Hurricane
2021             4619    CA           Fire
2021             4620    AZ          Flood
2021             3574    LA  Coastal Storm
2021             5417    CA           Fire

After cleaning down the dataset to information that is useful to us, we can begin analyzing certain aspects of this data.

### Data Analysis

In [560]:
# Using the DataFrame
# group the information by "state" and count the data
number_of_disasters_by_state = us_disasters_df.groupby("state").count()
number_of_disasters_by_state['disaster_count'] = number_of_disasters_by_state['incident_type']
number_of_disasters_by_state = number_of_disasters_by_state.drop(columns = ['disaster_number', 'incident_type'])

# Sort the DataFrame by "count"
number_of_disasters_by_state = number_of_disasters_by_state.sort_values("disaster_count")


# Review the first five rows resulting DataFrame
number_of_disasters_by_state.head()

       disaster_count
state
PW                  1
MH                  7
AS                 16
GU                 19
FM                 21

In [561]:
# Create a bar chart of the `number_of_disasters_by_state` DataFrame
number_of_disasters_by_state.hvplot.bar(
    rot=90, 
    title = "Number of Total Disasters Per State from 1953-05-02 through 2021-09-23"
).opts(yformatter='%.0f')

:Bars   [state]   (disaster_count)

In [562]:
# Using the DataFrame
# group the information by "year" and count each event
number_of_disasters_by_year = us_disasters_df.groupby("date").count()
number_of_disasters_by_year['disaster_count'] = number_of_disasters_by_year['incident_type']

# Drop unnecessary columns
number_of_disasters_by_year = number_of_disasters_by_year.drop(columns = ['disaster_number', 'incident_type', 'state'])

# Drop 2021 row because this year has incomplete data
number_of_disasters_by_year = number_of_disasters_by_year.drop(number_of_disasters_by_year.index[-1])

# Review the first five rows resulting DataFrame
display(number_of_disasters_by_year.head())
display(number_of_disasters_by_year.tail())

      disaster_count
date
1953              13
1954              17
1955              18
1956              16
1957              16

      disaster_count
date
2016             103
2017             137
2018             124
2019             101
2020             312

In [563]:
# Plot Land and Ocean Daily Averages to get a visualization of the raw data.
number_of_disasters_by_year.hvplot(title = "USA Natural Diaster Absolute Count (1950 - 2020)",
                            xlabel = "Date",
                            ylabel = "# of Total Disasters",
                            rot = 90)

:Curve   [date]   (disaster_count)

In order to stay consistent with the climate temperature analysis, we will also evaluate the natural disaster count in standard devaitaions from the mean.  This will allow for a more equivalent comparison between the climate analysis as well as the disaster analysis.  For the normal average disaster dataframe, we will use the entire dataset of 1953 to 2020.

In [564]:
# Find the mean value and standard deviation of the normal_average_temperature DataFrame
mean = number_of_disasters_by_year.mean()
std_dev = number_of_disasters_by_year.std()

# Review the mean value and standard deviation
print("The mean value of the number_of_disasters_by_year DataFrame is:")
print(f"{mean}")
print("\n")
print(f"The standard devation of the number_of_disasters_by_year DataFrame is:")
print(f"{std_dev}")

The mean value of the number_of_disasters_by_year DataFrame is:
disaster_count    66.264706
dtype: float64


The standard devation of the number_of_disasters_by_year DataFrame is:
disaster_count    58.244113
dtype: float64

In [565]:
# Create a new DataFrame containing standardized anomolies normalized to the normal_average_temperature DataFrame.  
disaster_standardized_anomoly = (number_of_disasters_by_year - mean)/std_dev

# Rename column in df
disaster_standardized_anomoly = disaster_standardized_anomoly.rename(columns={'disaster_count':'standardized_anomoly'})

# Review the first 5 and last 5 rows of DataFrame
display(disaster_standardized_anomoly.head())
display(disaster_standardized_anomoly.tail())

      standardized_anomoly
date
1953             -0.914508
1954             -0.845832
1955             -0.828662
1956             -0.863001
1957             -0.863001

      standardized_anomoly
date
2016              0.630713
2017              1.214463
2018              0.991264
2019              0.596374
2020              4.219058

In [566]:
# Plot USA Natural Disaster Counts Standardized Anomolies to get a visualization of the normalized data.
disaster_standardized_anomoly_plot = disaster_standardized_anomoly.hvplot(title = "USA Natural Disaster Count Standardized Anomolies (1950 - 2020)",
                                                                        xlabel = "Date",
                                                                        ylabel = "Standardized Anomolies")

disaster_standardized_anomoly_plot

:Curve   [date]   (standardized_anomoly)

In [567]:
# Compare plots of Land and Ocean Standardized Anomolies and USA Disaster Count Standardized Anomolies

climate_standardized_anomoly_plot + disaster_standardized_anomoly_plot

:Layout
   .Curve.I  :Curve   [time]   (standardized_anomoly)
   .Curve.II :Curve   [date]   (standardized_anomoly)

A side by side comparison of temperature anomolies vs USA natural disaster anomolies from 1960 onwards can be seen in the following screenshot: 

![side_by_side_of_temp_vs_disaster](./Images/temp_vs_disaster.PNG)

It can be seen that although disasters seems to be more sparatic in it's anomolies when compared temperature that there is an upward trend in both of the datasets analyzed.  Because the disaster dataset is smaller, it is important to note that the earlier data could provide us with more insights into the comparisons, but for now we will have to work with the information at hand.  

Going back to review the normal distribution curve, again we can determine that this disaster trend is very substantial and does not follow what you would expect from normal distribution probability.  For example, in 2020 the disaster anomolies deviate by more than 4 standard devation units from the normal average disaster mean.  A normal distribution curve indicates that the "odds" of this ocurring are less than 0.1% and by the way the devations have been trending since 1990, it appears that this trend may be on the increase. 

![investopia_normal_distribution_curve](./Images/bell_curve.PNG)

Now that we have an idea of the general trends of climate and weather as well as an anlaysis of disaster trends sampled for the USA, we can begin to look into commodity informtion and see if we can make long term investing decisions assuming these trends are to continue.

# Commodity Price Analysis

In [ ]:
#annual_commodity_prices_df = pd.read_csv(Path("./Resources/Commodity Prices - Annual.csv"))
#monthly_commodity_prices_df = pd.read_csv(Path("./Resources/Commodity Prices - Monthly.csv"))
barley_df = pd.read_csv(Path("./Resources/BarleyCostReturn.csv"))
corn_df = pd.read_csv(Path("./Resources/CornCostReturn.csv"))
cotton_df = pd.read_csv(Path("./Resources/CottonCostReturn.csv"))
oats_df = pd.read_csv(Path("./Resources/OatsCostReturn.csv"))
sorghum_df = pd.read_csv(Path("./Resources/SorghumCostReturn.csv"))
peanuts_df = pd.read_csv(Path("./Resources/PeanutsCostReturn.csv"))
soybeans_df = pd.read_csv(Path("./Resources/SoybeansCostReturn.csv"))
wheat_df = pd.read_csv(Path("./Resources/WheatCostReturn.csv"))

In [ ]:
barley_df = barley_df[['Year', 'UnitsId', 'RegionId', 'Value']]
corn_df = corn_df[['Year', 'UnitsId', 'RegionId', 'Value']]
cotton_df = cotton_df[['Year', 'UnitsId', 'RegionId', 'Value']]
oats_df = oats_df[['Year', 'UnitsId', 'RegionId', 'Value']]
sorghum_df = sorghum_df[['Year', 'UnitsId', 'RegionId', 'Value']]
peanuts_df = peanuts_df[['Year', 'UnitsId', 'RegionId', 'Value']]
soybeans_df = soybeans_df[['Year', 'UnitsId', 'RegionId', 'Value']]
wheat_df = wheat_df[['Year', 'UnitsId', 'RegionId', 'Value']]

In [ ]:
barley_df = barley_df.set_index('Year')
corn_df = corn_df.set_index('Year')
cotton_df = cotton_df.set_index('Year')
oats_df = oats_df.set_index('Year')
sorghum_df = sorghum_df.set_index('Year')
peanuts_df = peanuts_df.set_index('Year')
soybeans_df = soybeans_df.set_index('Year')
wheat_df = wheat_df.set_index('Year')

In [ ]:
barley_price_df = barley_df.loc[(barley_df['RegionId'] == 10) & (barley_df['UnitsId'] == 30)]
corn_price_df = corn_df.loc[(corn_df['RegionId'] == 10) & (corn_df['UnitsId'] == 30)]
cotton_price_df = cotton_df.loc[(cotton_df['RegionId'] == 10) & (cotton_df['UnitsId'] == 30)]
oats_price_df = oats_df.loc[(oats_df['RegionId'] == 10) & (oats_df['UnitsId'] == 30)]
sorghum_price_df = sorghum_df.loc[(sorghum_df['RegionId'] == 10) & (sorghum_df['UnitsId'] == 30)]
peanuts_price_df = peanuts_df.loc[(peanuts_df['RegionId'] == 10) & (peanuts_df['UnitsId'] == 30)]
soybeans_price_df = soybeans_df.loc[(soybeans_df['RegionId'] == 10) & (soybeans_df['UnitsId'] == 30)]
wheat_price_df = wheat_df.loc[(wheat_df['RegionId'] == 10) & (wheat_df['UnitsId'] == 30)]

In [ ]:
barley_price_df = barley_price_df['Value']
corn_price_df = corn_price_df['Value']
cotton_price_df = cotton_price_df['Value']
oats_price_df = oats_price_df['Value']
sorghum_price_df = sorghum_price_df['Value']
peanuts_price_df = peanuts_price_df['Value']
soybeans_price_df = soybeans_price_df['Value']
wheat_price_df = wheat_price_df['Value']

In [ ]:
ax = barley_price_df.plot(rot=90, figsize=(20,10), title="Price in $ per bushell at harvest in the U.S.")
corn_price_df.plot(ax=ax)
cotton_price_df.plot(ax=ax)
oats_price_df.plot(ax=ax)
sorghum_price_df.plot(ax=ax)
peanuts_price_df.plot(ax=ax)
soybeans_price_df.plot(ax=ax)
wheat_price_df.plot(ax=ax)

ax.legend(['Barley Price',
          'Corn Price', 
          'Cotton Price',
          'Oats Price', 
          'Sorghum Price',
          'Peanuts Price', 
          'Soybeans Price',
          'Wheat Price'])